$apple-green: #64c328;
$faded-red: #dc3545;
$orange-yellow: #f5a623;
$orange: #ff6f00;
$topaz: #18b8c4;
$cyan: #1bc5d2;
$dark: #2c3641;
$charcoal-grey: #31363c;
$dark-grey-blue: #2b3a4d;
$white: #fff;
$solitude: #f1f2f6;
$white-two: #fafafa;
$light-blue: #ecf1f4;
$white-grey: #eeeeee;
$x-light-gray: #f8f8f8;
$powder-blue: #d5dadf;
$white-smoke: #f5f5f5;
$silver: #ced4da;
$light-grey: #b6b6b6;
$brown-grey: #9b9b9b;
$grey: #a2a2a2;
$trolley-grey: #808080;
$grey-brown: #4a4a4a;
$dark: #2c3641;
$blog-title: #292a2c;

$sidebar: #19222b;
$topbar: #000;
$chips: #ed098c;

$filterbar: #262f3e;
$mainbg: #f5f5f5;
